<form class="cssClass" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="name"/></h1>
    </header>

    <div class="sidebar1">
        <table>
            <tr>
                <th>{{localize "mnm3e.hero.named.name"}}</th>
                <th>{{localize "mnm3e.hero.named.total"}}</th>
                <th>{{localize "mnm3e.hero.named.base"}}</th>
                <th>{{localize "mnm3e.hero.named.misc"}}</th>
            </tr>
             {{#each data.abilities as |ability key|}}
            <tr>
            <th class="name" for="data.abilities.{{key}}.value">{{localize (concat "mnm3e.hero.abilities." key)}}</th>
            <td><input class="total" name="data.abilities.{{key}}.[1].value" value="{{ability.value}}+{{ability.[1].value}}" type="text" data-dtype="Number"/></td>
            <td><input class="base" name="data.abilities.{{key}}.value" value="{{ability.value}}" type="text" data-dtype="Number"/></td>
            <td><input class="misc" name="data.abilities.{{key}}.[1].value" value="{{ability.ability-misc.value}}" type="text" data-dtype="Number"/></td>
            </tr>
            {{/each}}
            
        </table>
    </div>
</form>

















<!--<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="name"/></h1>
    </header>

    {{!-- ABILITIES --}}
    <div class="hero-abilities">
        {{#each data.abilities as |ability key|}}
            <div class="hero-ability">
                <div class="header" for="data.abilities.{{key}}.value">{{localize (concat "mnm3e.hero.abilities.short." key)}}</div>
                <input class="content" name="data.abilities.{{key}}.value" value="{{ability.value}}" type="text" data-dtype="Number"/>
            </div>
        {{/each}}
    </div>

    {{!-- SKILLS --}}
    <div class="hero-skills">
        <div class="header">{{localize "mnm3e.hero.skills.title"}}</div>
        {{#each data.skills as |skill key|}}
            <div class="hero-skill">
                <label>{{localize (concat "mnm3e.hero.skills." key)}}</label>
                <span><input class="content" name="data.skills.{{key}}.value" value="{{skill.value}}" type="text" data-dtype="Number"/></span>
            </div>
        {{/each}}
    </div>
    
    {{!-- ADVANTAGES --}}
    <div class="hero-advantages">

    </div>

    {{!-- POWERS --}}
    <div class="hero-pwoers">

    </div>

    {{!-- COMPLICATIONS --}}
    <div class="hero-complications">

    </div>

    {{!-- DEFENSE --}}
    <div class="hero-defense">

    </div>
</form>-->